
@{
    ViewBag.Title = "Main_Page";
}

<h2>Choose User</h2>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="button" value="Student" class="btn btn-default  btn-success" onclick="window.location.pathname = 'Student/Student_Main_Page';" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="button" value="Admin" class="btn btn-default  btn-success" onclick="window.location.pathname = 'Admin/Login';" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="button" value="Advisor" class="btn btn-default  btn-success" onclick="window.location.pathname = 'Advisor/Login';" />
    </div>
</div>