
@{
    ViewBag.Title = "Student_Main_Page";
}

<h2>Student_Main_Page</h2>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="button" value="Register" class="btn btn-default  btn-success" onclick="window.location.href = 'Student_Register';" />
    </div>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="button" value="Login" class="btn btn-default  btn-success" onclick="window.location.href = 'Student_Login';" />
    </div>
</div>

