
@{
    ViewBag.Title = "Student_Dashboard";
}

<h2>Student_Dashboard</h2>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="button" value="Add_Number" class="btn btn-default  btn-success" onclick="window.location.href = 'Phone_numbers';" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="button" value="Course_Request" class="btn btn-default  btn-success" onclick="window.location.href = 'CourseRequest';" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="button" value="Credit_Hours_Request" class="btn btn-default  btn-success" onclick="window.location.href = 'CHRequest';" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="button" value="Available_Courses" class="btn btn-default  btn-success" onclick="window.location.href = 'Available';" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="button" value="Missing_Courses" class="btn btn-default  btn-success" onclick="window.location.href = 'missingCourses';" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="button" value="Optional_Courses" class="btn btn-default  btn-success" onclick="window.location.href = 'Optional';" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="button" value="Required_Courses" class="btn btn-default  btn-success" onclick="window.location.href = 'Required';" />
    </div>
</div>

/////////////////////////////
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="button" value="View_GradPlan" class="btn btn-default  btn-success" onclick="window.location.href = 'GradPlanView';" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="button" value="View_Nearest_Installment" class="btn btn-default  btn-success" onclick="window.location.href = 'InstallmentView';" />
    </div>
</div>


<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="button" value="View_Courses_ExamDetails" class="btn btn-default  btn-success" onclick="window.location.href = 'CourseWithExamDetails';" />
    </div>
</div>


<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="button" value="Register_First_Makeup" class="btn btn-default  btn-success" onclick="window.location.href = 'First_MakeupView';" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="button" value="Register_Second_Makeup" class="btn btn-default  btn-success" onclick="window.location.href = 'Second_MakeupView';" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="button" value="ViewAllCourses_Slot_Instructor" class="btn btn-default  btn-success" onclick="window.location.href = 'SlotsCourseInstructor';" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="button" value="ViewSlot_Certain_Course" class="btn btn-default  btn-success" onclick="window.location.href = 'CourseWithSlotDetails';" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="button" value="Choose_Instructor" class="btn btn-default  btn-success" onclick="window.location.href = 'ChooseInstructorView';" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="button" value="ViewCoursewithPrequisites" class="btn btn-default  btn-success" onclick="window.location.href = 'CoursesWithPrerequisites';" />
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="button" value="Log_out" class="btn btn-default  btn-danger" onclick="window.location.href = 'Student_Main_Page';" />
    </div>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="button" value="Change user" class="btn btn-default  btn-primary" onclick="window.location.href = 'Main_Page';" />
    </div>
</div>
