<h2>Choose User</h2>

<div class="row">
    <div class="col">
        <input type="button" value="Student" class="btn btn-default  btn-success" onclick="window.location.pathname = 'Student/Student_Main_Page';" />
    </div>

    <div class="col">
        <input type="button" value="Admin" class="btn btn-default  btn-success" onclick="window.location.pathname = 'Admin/Login';" />
    </div>

    <div class="col">
        <input type="button" value="Advisor" class="btn btn-default  btn-success" onclick="window.location.pathname = 'Advisor/Login';" />
    </div>
</div>
