@using System.Data
@using System.Data.SqlClient

@model DataTable

<h2>Semesters With Courses</h2>

<table class="table">
    <thead>
        <tr>
            <th>Course ID</th>
            <th>Course Name</th>
            <th>Semester Code</th>
            

        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in Model.Rows)
        {
            <tr>
                <td>@((int)row["course_id"])</td>
                <td>@(row["name"].ToString())</td>
               
                <td>@(row["semester_code"].ToString())</td>




            </tr>
        }

    </tbody>
</table>
@Html.ActionLink("Back to Admin Dashboard", "AdminDashboard", "Admin", null, new { @class = "btn btn-secondary" })